1microBrown_0508_1Processed.avi filter=lfs diff=lfs merge=lfs -text
/intermediatePhysicsExperiment/1microBrown_0508_1Processed.avi filter=lfs diff=lfs merge=lfs -text
intermediatePhysicsExperiment/1microBrown_0508_1Processed.avi filter=lfs diff=lfs merge=lfs -text
